@import url('../../css/card.css');

.card {
    background-color: beige;
}

.special-treasure-card {
    justify-content: flex-end;
    background-color: lightcoral;
}

.symbol {
    font-size: 30px;
    margin: 4px 0;
}

.card.highlight {
    border: 4px solid crimson;
}