.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px 0;
    width: 78px;
    height: 80px;
    justify-content: center;
    text-align: center;
    background-color: lightsteelblue;
    box-shadow: 1px 1px 2px black;
}

.card-empty {
    background-color: transparent;
    border-style: dashed;
    box-shadow: none;
}