label {
    display: inline-block;
    width: 5em;
}

.add-player {
    margin-left: 10px;
}
.remove-player {
    margin-left: 30px;
}

.player:not(:last-child) {
    border-bottom: 1px dashed black;
}