<div class="water-level">
  <label>Water Level ({{waterLevel}})</label>
  <progress min="0" max="9" [value]="board.waterLevel"></progress>
</div>
<div class="flood-discard">
  <label>Flood Discard ({{board.floodDiscard.length}})</label>
  <app-flood-card [card]="floodDiscard" [flip]="board.floodDiscard.length % 2"></app-flood-card>
</div>
<div class="treasure-discard">
  <label>Treasure Discard ({{board.treasureDiscard.length}})</label>
  <app-player-card [card]="treasureDiscard" [flip]="board.treasureDiscard.length % 2"></app-player-card>
</div>
<div class="captured-treasures">
  <label>Captured Treasures</label>
  <div class="captured-treasures-grid">
    <div class="captured-treasure" *ngFor="let treasure of treasures"
      [class.captured]="treasure.captured">{{treasure.emoji}}</div>
  </div>
</div>
