.overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}

.modal {
  position: absolute;
  z-index: 101;
  top: -50px;
  left: 0;
  right: 0;
  text-align: center;
  animation: slideUp 800ms ease-out;
}

img {
  width: 100%;
}

.done {
  border: 1px solid black;
  margin: 0 6px 5px 0;
  font-size: 120%;
  padding: 4px 12px;
  box-shadow: 1px 1px 1px rgb(33, 61, 85);
}

@keyframes slideUp {
  0% {
    top: 50px;
    opacity: .2;
  }
  100% {
    top: -50px;
    opacity: 1;
  }
}