.player {
    display: flex;
    padding: 4px;
}
.player-id {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px;
    width: 70px;
    height: 80px;
    text-align: center;
}
.player-cards {
    display: flex;
}