<div class="player">
  <div class="top-row">
    <div class="player-id color--{{role.color}}"
        [class.highlight]="highlightPlayers?.includes(player.id)"
        [class.selected]="selectedPlayers?.includes(player.id)"
        (click)="playerClicked(player)">
      <span class="role">{{role.name}}</span>
      <span class="symbol"></span>
      <span class="name">{{player.name}}</span>
      <span class="action-count" *ngIf="actionsRemaining !== null">
        <span [class.available]="actionsRemaining > 0"></span>
        <span [class.available]="actionsRemaining > 1"></span>
        <span [class.available]="actionsRemaining > 2"></span>
      </span>
    </div>
    <div class="player-cards">
      <app-player-card *ngFor="let card of cards" [card]="card" [highlight]="cardSelectionEnabled"
          (click)="cardClicked(card)"></app-player-card>
    </div>
  </div>
  <div class="actions">
    <button *ngFor="let action of actions" (click)="actionClicked(action)" [class.active]="action === inProgressAction">{{ACTION_NAMES[action.type]}}</button>
  </div>
</div>
