.tile {
    box-sizing: border-box;
    height: 100%;
    position: relative
}

.tile--present {
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight {
    border: 4px solid crimson;
}

.landing {
    text-decoration: underline;
    font-weight: bold;
}

.flooded {
    background-color: rgba(255, 255, 255, .3);
}

.treasure {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.highlight .treasure {
    bottom: 1px;
    right: 1px;
}