main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.side {
    margin-left: 4px;
}

button {
    border: 1px solid black;
    margin: 0 6px 5px 0;
    font-size: 120%;
    padding: 4px 12px;
    box-shadow: 1px 1px 1px rgb(33, 61, 85);
}

button:hover {
    background-color: lightsteelblue;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 1px rgb(33, 61, 85);
}