<main *ngIf="board">
  <app-board [board]="board" [highlightLocations]="inProgressAction?.locations" (clickTile)="selectTile($event)"></app-board>
  <div class="side">
    <app-dashboard [board]="board"></app-dashboard>
    <div class="players">
      <app-player-board *ngFor="let player of board.players; index as i; trackBy itemId" [player]="player"
                      [class.current]="i === board.currentPlayer"
                      [highlightCards]="inProgressAction?.cards"
                      [highlightPlayers]="highlightPlayers"
                      [selectedPlayers]="inProgressSelection?.players"
                      (cardClick)="selectCard($event.id)"
                      (playerClick)="selectPlayer($event.id)"
                      [actions]="actions[i]"
                      (doAction)="doAction($event, i)"
                      [inProgressAction]="inProgressAction"
                      [actionsRemaining]="i === board.currentPlayer ? board.actionsRemaining : null"
                      ></app-player-board>
    </div>
  </div>
</main>
<app-end-modal *ngIf="board.outcome" [outcome]="board.outcome"></app-end-modal>