.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px 0;
    width: 78px;
    height: 80px;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 1px 2px black;
}

.card:not(.card-empty) {
    animation: flyin 700ms ease-in;
}

.card.card-empty {
    background-color: transparent;
    border-style: dashed;
    box-shadow: none;
}

@keyframes flyin {
    from {
        transform: translateY(10px) scale(1.4);
        opacity: .8;
    }
    to {
        transform: none;
        opacity: 1;
    }
}